$purple: rgb(226, 210, 254);
$blue: #bae5f4;
$lightpink: #fccdcd;
$black: #080826;
.recipes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}
.recipe-card {
  width: 15%;
  border-radius: 10px;
  box-shadow: 3px 6px 4px -1px rgba(226, 210, 254);
  li {
    font-size: 0.7em;
  }
  .recipe-image {
    width: 100%;
    height: 20vh;
    object-fit: cover;
  }
  h3 {
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    margin: 0;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    line-height: 1.5em;
    background-color: $blue;
  }
  a {
    background-color: $purple;
    padding: 0.5em;
    border-radius: 10px;
    margin: 0.5em auto;
    display: block;
    width: 50%;
    text-align: center;
  }
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  fieldset {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-right: 1em;
    border: none;
    border: 2px solid $lightpink;
    border-radius: 15px;
    p {
      font-weight: bold;
      background-color: $lightpink;
      padding: 1em;
      border-radius: 10px 0 0 10px;
    }
  }
}
.svg {
  width: 1em;
}
.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  button {
    background-color: $blue;
    padding: 1em;
    border-radius: 1em;
  }
  button:hover {
    cursor: pointer;
  }
}
